/* common */
$textColor:#1b1b1b;
$textSecondaryColor:#888888;
$fontSize:16px;

/* topbar */
$topbarBgColor:#fff;
$topbarBorderColor: none;
$topbarButtonBgColor:#ffffff;
$topbarButtonBorderColor:#888888;
$topbarButtonTextColor:#424242;
$topbarButtonHoverBgColor:#eaeaea;
$topbarButtonHoverTextColor:#333333;

/* sidebar */
$sidebarBgColor:#f4f4f4;
$sidebarBorderColor:#888888;
$sidebarAnimationDuration:.3s;

/* mask */
$layoutMaskBgColor:#424242;

/* footer */
$footerBgColor:#0A132D;
$footerBorderColor:none;


/* ZEKE GOB COLORS */
$gobGrayColor:#A8B7C7;
$gobDarkGrayColor:#697582;

$gobBlueColor:#0f69b4;
