<div class="container">

    <h1>Showcase</h1>

    <div class="ui-g">

        <div class="botonera">
            <button pButton (click)="lanzarErrorNegocioAction()" class="btn btn-default" title="" label="Lanzar Error Negocio"></button>
            <button pButton (click)="lanzarErrorInternoAction()" class="btn btn-default" title="" label="Lanzar Error Interno"></button>
            <button pButton (click)="accederAccionAdministradorAction()" class="btn btn-default" title="" label="Acción Administador"></button>
            <button pButton (click)="procesarEnBackendAction()" class="btn btn-default" title="" label="Procesar (5 seg)"></button>
        </div>

    </div>
</div>