/* You can add global styles to this file, and also import other style files */

.ui-widget {
    &.ui-datepicker {
        font-size: 0.8em;
        th {
            padding: 0.1em;
        }
        td>span,
        td>a {
            padding: 0.1em;
        }
    }
    &.ui-dropdown {
        width: 100% !important;
    }
}

